body {
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
}
.center {
    display: flex; justify-content: center; gap: 20px;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a:link {
  text-decoration: none;
}
.quote:hover{
    color:blue;
    
}
.quote:not(:hover){
    color: black;
}

.img {
   
    border: 10px solid #000080;
}